<%- include('head') %>
<div class="layui-container">
		<div class="fly-panel" pad20="" style="padding: 20px;">
				<div class="layui-form layui-form-pane">
								<form class="layui-form" action="/news/add" method="post">
									<div class="layui-row layui-col-space15 layui-form-item">
										<div class="layui-col-md3">
											<label class="layui-form-label">文章类型</label>
											<div class="layui-input-block">
												<select lay-verify="required" name="cato" lay-filter="cato"> 
													<%try{ %>
														<option value="">选择类型</option> 
														<%for(let i = 0; i < catos.length; i++){%>
													<option value="<%=catos[i][0]%>"><%=catos[i][1]%></option>
													<%}}catch(err){}%>
												</select>
										</div>
										</div>
										<div class="layui-col-md9">
											<label for="XC_title" class="layui-form-label">标题</label>
											<div class="layui-input-block">
												<input type="text" id="XC_title" name="title" placeholder="文章标题..." required="" lay-verify="required" autocomplete="off" class="layui-input">
											</div>
										</div>
									</div>
									<div class="layui-form-item">
												<textarea id="newsTextarea"></textarea>
									</div>
									<div class="layui-form-item layui-form-text">
											<label class="layui-form-label">文章摘要</label>
											<div class="layui-input-block">
												<textarea name="summary" placeholder="文章摘要(必填)" required="" lay-verify="required" class="layui-textarea" style="height:120px"></textarea>
											</div>
										</div>
									<div class="layui-form-item" pane>
										<label class="layui-form-label">来源</label>
										<div class="layui-input-block">
											<div class="layui-col-md3">
												<input type="radio" name="origin.id" value="0" title="原创">
												<input type="radio" name="origin.id" value="1" title="转载" checked>
											</div>
											<div class="layui-col-md9">
											<input type="text" id="origin.url" name="origin.url" lay-verType="tips" placeholder="若文章为转载,请输入文章来源链接..." lay-verify="origin" autocomplete="off" class="layui-input" style="border:none;    border-left: 1px solid #e6e6e6;">
										</div>
										</div>
									</div>
									<div class="layui-form-item">
											<label for="XC_itemImgSrc" class="layui-form-label">封面图链接</label>
											<div class="layui-input-block">
												<input type="text" id="XC_itemImgSrc" name="itemImgSrc" placeholder="封面图链接(选填)..." autocomplete="off" class="layui-input">
											</div>
										</div>
									<div class="layui-form-item">
										<button class="layui-btn" lay-filter="news" lay-submit="">立即增加</button>
									</div>
								</form>					
				</div>
			</div>
</div>
<%- include('footer') %>

<script>
$(function() { 
	$('#newsTextarea').froalaEditor({
		height: 600,
		imageUploadURL:'/upload/news',
	}).on('froalaEditor.image.error', function (e, editor, error, response) {
		console.error(error, response);
	}).on('froalaEditor.image.uploaded', function (e, editor, response) {
		try {
		$('#XC_itemImgSrc').val().trim() || $('#XC_itemImgSrc').val(JSON.parse(response).link);
		} catch (error) {
		}
	}).on('froalaEditor.imageManager.error', function (e, editor, error, response) {
		console.log(response);
	}).on('froalaEditor.image.inserted', function (e, editor, $img, response) {
		$img.css({
			'width':'100%',
			'height':'auto',
			'max-height':'450px'
		});
	});;
});
</script>