<%- include('head') %>
<div class="layui-container">
    <div class="layui-row" style="margin-top:20px">
        <div class="layui-col-md4">
            <fieldset class="layui-elem-field">
                <legend>导航</legend>
                <div class="layui-field-box layui-col-space8">
                    <div class="layui-col-md4">
                        <a href="/xc/carousel/showlist" style="text-align: center;">
                            <i class="layui-icon" style="height:60px;line-height:60px;display: inline-block;font-size: 40px;width: 100%;    background-color: #f7f7f7;">&#xe634;</i>
                            <cite style="display:block;margin-top:10px">Carousel</cite></a>
                    </div>
                    <div class="layui-col-md4">
                        <a href="/xc/news/showlist" style="text-align: center;">
                            <i class="layui-icon" style="height:60px;line-height:60px;display: inline-block;font-size: 40px;width: 100%;    background-color: #f7f7f7;">&#xe630;</i>
                            <cite style="display:block;margin-top:10px">News</cite></a>
                    </div>
                    <div class="layui-col-md4"></div>
                </div>
              </fieldset>
            
        </div>
        <div class="layui-col-md4">
          <!-- 你的内容 3/12 -->
        </div>
        <div class="layui-col-md4">
            <!-- 你的内容 3/12 -->
          </div>  
    </div>
    
</div>
<%- include('footer') %>