<div class="layui-carousel" id="xc-carousel" style="height:500px">
    <div carousel-item>
        <% try{
            let data = carcousels.data,
                len = data.length;
            for(let i = 0; i < len; i++){
        %>
        <div style="background-image:url('<%=STATIC_HOST + data[i].itemImgSrc%>');">
            <h1 class="banner-title"><%=data[i].bannerTitle%></h1>
            <p class="banner-detail"><%=data[i].bannerDetail%></p>
        </div>
        <% }}catch(err){
            console.error(err.message);
         }%>
    </div>
</div>