<%- include header %>
<div class="xc-ban-titile layui-hide-xs" style="background-image: url('/public/upload/banner/commen/banner_contact.jpg');">
	<h1 class="txtcenter"><span>诚聘精英 / Join US</span></h1>
</div>
<div class="layui-container">
    <h1 class="txtcenter site-big-title">虚位以待</h1>
    <div class="xc-section">
        <p></p>
    </div>
    <div class="xc-section">
            <!-- <table class="layui-table">
            <thead>
                <tr>
                    <th>职位名称</th>
                    <th>工作地点</th>
                    <th>招聘人数</th>
                    <th>发布时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Java工程师</td>
                    <td>杭州</td>
                    <td>3</td>
                    <td>2017-09-08 10:57:09</td>
                </tr>
                <tr>
                        <td>Java工程师</td>
                        <td>杭州</td>
                        <td>3</td>
                        <td>2017-09-08 10:57:09</td>
                </tr>
            </tbody>
            </table> -->
            <blockquote class="layui-elem-quote layui-quote-nm">虚位以待</blockquote>
    </div>
</div>
<%- include footer %>