<%- include header %>
<div class="layui-container xc-section">
    <div class="txtcenter xc-panel">
        <button type="button" class="layui-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>上传图片
          </button>
    </div>
</div>

<%- include footer %>