html, body, h1, h2, h3{
  font-size: 16px;
  color: #333;
  line-height: 24px;
  position: relative;
}
@media screen and (max-width: 750px) {
  .site-content img{max-width: 100%;}
  .article-content-box, .article-content{
    width: 90%;
  }
}
@media screen and (min-width: 750px) {
  .article-content-box, .article-content{
    width: 90%;
  }
}
.xc-header{
  background-color: #FFFFFF;
  /* height: 75px; */
  /* border-bottom: 1px solid rgb(247, 9, 9); */
}
.xc-header .xc-nav{
  background-color: transparent;
  padding: 0;
}
.logo {
  /* position: absolute; */
  float: left;
}
.logo img{
  height: 120px;
  margin-top: 2px;
}
.logo span{
  font-size: 20px;
  margin-left: 15px;
  margin-top: 25px;
  position: absolute;
  width: 200px;
}
.xc-nav * {
  font-size: 18px;
}
.xc-nav .layui-nav-item {
  margin: 0 10px;
  /* line-height: 76px; */
}
.xc-nav .layui-nav-item a{
  /* color: #333; */
  padding: 0px 30px;
  color: rgba(255, 255, 255, 0.8);
}
.xc-nav .layui-nav-child a{
  color: #333;
}

.layui-nav .layui-this a, .layui-nav .layui-nav-item a:hover{
  color: #fff;
  /* background-color: #fff; */
}
.xc-nav .layui-nav-child a:hover{
  color: rgb(247,7,9);
}
.xc-nav .layui-this:after, .xc-nav .layui-nav-bar{
  background-color: transparent;
}
.xc-nav .layui-nav-item{
  -webkit-transition:all .3s;
  transition:all .3s;
  -moz-transition:all .3s;
  -o-transition:all .3s;
}
.xc-nav .layui-this, .xc-nav .layui-nav-item:hover{
  background-color: rgba(255,0,0,0.5);
}
/* .xc-nav .layui-nav-more{
  border-color: rgb(247, 9, 9) transparent transparent;
  border-top-color: rgba(247, 9, 9,.7);
  top: 36px;
} */
.xc-nav .layui-nav-more{
  /* border-color: transparent transparent rgb(247, 9, 9); */
  /* top: 30px; */
  right: 12px;
}
.xc-nav .layui-nav-child{
  top: 60px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.85);
}
.txtcenter{
  text-align: center !important;
}
.txtright{
  text-align: right !important;
}
.site-big-title{
  font-size: 26px;
  margin: 25px 0;
}
.site-big-title span{
  border-bottom: 1px solid rgb(247, 9, 9);
  padding: 5px;
  color: rgb(247, 9, 9);
}
.group-box {
  border: 1px solid #999999;
  padding: 2px;
}
.group-box .caption {
  margin: 10px 0;
}
.group-box img {
  height: 200px;
  width: 100%;
}
.s-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(247,9,9,.8);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
}
.xc-section{
  margin-bottom:25px; 
  overflow: hidden;
  background-color: #fff;
}
.xc-panel{
  padding: 20px;
}
.xc-img-box{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #eee;
  background-size: cover;
  background-position: center;
}
.site-content {
  padding: 20px 0;
  background-color: #fff;
}

.site-text p{
  line-height: 24px;
  margin-bottom: 10px;
}
.text-indent-2em{
  text-indent: 2em;
}
.article-content-box, .article-content{
  margin: 0 auto;
}
.xc-btn-red{
  color: rgb(247,9,9);
  border-color: rgb(247,9,9);
  background-color: rgba(247, 9, 9, 0);
  border: 1px solid;
}
.xc-btn-red:hover{
	text-decoration: none;
color: #fff;
background-color: rgb(247,9,9);
}
.xc-ban-titile{
  max-height: 250px;
  height: auto;
	position: relative;
	background: #ec7575;
	background-position: center;
	background-size: cover;
}
.xc-ban-titile{
  border-bottom: 1px solid rgb(247, 9, 9);
}
.xc-ban-titile h1{
	margin: 0 auto;
	line-height: 250px;
}
.xc-ban-titile h1 span{
	background: rgba(50, 50, 50, 0.3);
    padding: 15px 55px;
    border-radius: 15px;
    color: #fff;
    font-size: 24px;
}
.xc-news-heading{
  font-size: 24px;
}
.lead {
  line-height: 24px;
  height: 96px;
  overflow: hidden;
}
.xc-news-date{
	position: absolute;
	top: 0px;
	color: #fff;
	font-size: 30px;
	background: rgba(51,51,51, 0.6);
	width: 100%;
	left: 0px;
	height: 100%;
	text-align: center;
	opacity: 0;
	display: block;
	transition: all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	text-decoration: none;
}
.xc-news-date span{
	position: absolute;
	line-height: 0px;
	top: 50%;
	width: 100%;
	left: 0px;
	text-align: center;

}
.xc-news-date:hover{
	opacity: 1;
	text-decoration: none;
	color: #fff;
}
.xc-news-img {
    height: 160px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    border: 1px solid #efefef;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    padding: 40px 0 20px 0;
    background: #bc2020;
    clear: both;
    position: relative;
    font-size: 14px;
}
footer *{
	color: #f7f7f7;
  text-decoration: none;
  font-size:14px;
}
footer .xc-item-title{
  font-size: 24px;
  margin: 15px 0 10px 0
}
footer a:hover{
	color: #828282;
	text-decoration: none;
}

.xc-link{
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.xc-link:hover{
  color: rgb(247, 9, 9);
}
.xc-link-more{
  font-size: 14px;
  float: right;
  color: rgb(247, 9, 9);
  border-bottom: 0px solid;
  transition: .3s all;
  -o-transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;

}

.xc-link-more:hover{
  border-bottom-width: 1px;
  color: rgb(247, 9, 9);
}

footer .xc-link:hover{
  color: rgb(5, 4, 4);
}
.linear-line{
	background: linear-gradient(90deg, rgb(247,7,9), rgb(2,2,2), rgb(247,7,9),rgb(2,2,2), rgb(247,7,9)) rgb(247,7,9);
	height:5px;
	position: absolute;
	top: 0;
	width: 100%;
}
.xc-firends-box{
  height: 120px; 
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 0px 0px rgba(12,10,10,0.09) inset;
  position: relative;
  cursor: pointer;
  }
  
  .xc-pos-abs{
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .xc-firends-text{
    font-size: 20px;
    line-height: 120px;
    background: rgba(247, 9, 9, 0.8);
    border: 1px dashed rgba(255,255,255,.5);
    color: #fff;
    height: 100%;
    opacity: 0;
    display: block;
    text-decoration: none;
    transform: scale(.5,.5);
    -webkit-transform: scale(.5,.5);
    -o-transform: scale(.5,.5);
    -moz-transform: scale(.5,.5);
    transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
  }
  .xc-firends-box:hover .xc-firends-text{
    opacity: 1;
    color: #fff !important;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -moz-transform: scale(1,1);
  }
  .contact-item-box{
    margin: 10px 0;
  }
  .contact-item-box i{
    font-size: 40px;
    border: 1px solid;
    padding: 30px;
    display: inline-block;
    }
    .contact-item-box p{
      font-size: 16px;
      margin: 15px 0;
    }
    .xc-buss-box{
      background-color: transparent;
      position: relative;
      transition: all .3s;
      -webkit-transition: all .3s;
    }
    .xc-buss-box:hover{
      background-color: rgb(241, 50, 50);
    }
    .xc-buss-box:hover .xc-buss-title, .xc-buss-box:hover .xc-buss-content{
      color: #fff;
    }
    .xc-buss-bg{
      margin: 0 auto;width: 100px;height: 60px;
      background-position-x: 0px;
    }
    .xc-buss-box:hover .xc-buss-bg{
      background-position-x: 150px;
    }
    .xc-buss-content{
      text-align: left;height:72px;overflow:hidden;    
      padding: 0 30px;font-size: 15px;color: #828282;
    }
    .xc-buss-title{
      font-size:20px;margin:15px 0
    }
    .xc-news-i-box{
      position: relative;
      height: 150px;
      overflow: hidden;
    }
    .xc-news-large{
      background: #fff;
      outline: 1px solid #fafafa;
    }
    .xc-news-small{
      background: #fff;
      height: 157.5px;
      overflow: hidden;
    }
    .xc-news-small > *{
      padding: 10px 15px;
    }
    .xc-news-large:first-child{
      margin-bottom: 15px;
    }
    .xc-news-i-img{
      height: 140px;
      background-size: cover;
      background-position: center; 
      position: absolute;
      color: #fff;
      overflow: hidden;
      width: 180px;
    }
    .xc-news-i-img::before, .xc-news-img::before {
        content: '';
        background-image: url(/public/upload/news/defualt-news-logo.jpg);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-size: contain;
        background-color: #e2e2e2;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .xc-news-i-title{
      font-size: 24px;
      padding: 0 0 10px 0;
    }
    .xc-news-i-title, .xc-news-i-title:hover {
      color: #fff;
    
    }
    .xc-news-i-date{
      padding: 5px 10px;
    color: rgb(233,9,7);
    font-size: 12px;
    
    }
    .xc-news-i-content{
      margin-left: 200px;
      overflow: hidden;
    }
    .InfoWindow-box{
      text-align: left;
    width: 410px;
    background: #fff;
    border: 1px solid #eee;
    position: relative;
    }
    .info-head{
    padding: 5px 15px;
    background: rgb(233, 3, 2);
        font-size: 18px;
    }
    .info-body{
      padding: 10px;
    }
    .info-close{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      right: 30px;
      top: 6px;
      font-size: 25px;
    }
    .info-close:hover,.info-close:focus{
      cursor: pointer;
    }
    .info-point{
       position: absolute;
       height: 30px;
       width: 30px;
       bottom: -32px;
       left: 50%;
       transform: rotate(45deg) translate(-22px, 0px);
       border: 1px solid #eee;
       border-left-color: transparent;
       border-top-color: transparent;
       background: #fff;
       z-index: -1;
    }
    .layui-carousel>[carousel-item]>*{
      background-position: center;
      background-size: cover;
      background-color: #c83737;
    }
    .banner-title{
      font-size: 70px;
      color: #fff;
      margin: 140px 0;
      text-align: center;
    }
    .banner-detail{
      text-align: center;
      color: #fff;
      font-size: 30px;
      margin: 20px 0;
    }
    .xc-swiper-container{
      border: 1px solid #e9e9e9;
    }
    .xc-swiper-container .swiper-slide{
      border-right: 1px solid #e9e9e9;
      border-left: 1px solid #e9e9e9;
    }